venv/
nadc/site/*
ppp/files/*
__pycache__/*

nadc/docs/campaign_finance/
nadc/docs/campaign_finance/*
nadc\docs\campaign_finance\
nadc\docs\campaign_finance\*
nadc\docs\campaign_finance\contributions*
nadc\docs\campaign_finance\payees*
nadc\docs\campaign_finance\payors*
nadc\docs\campaign_finance\receipts*

\nadc\docs\expenditures\*
nadc\docs\expenditures\*
\nadc\docs\expenditures\filers\*
nadc\docs\expenditures\filers\*
database\csv_files\*
nadc\docs\*


/nadc/docs/expenditures/*
nadc/docs/expenditures/*
/nadc/docs/expenditures/filers/*
nadc/docs/expenditures/filers/*
database/csv_files/*
nadc/docs/*



\nadc\docs\campaign_finance\expenditures\*
\nadc\docs\campaign_finance\payees\*
\nadc\docs\campaign_finance\payors\*
\nadc\docs\campaign_finance\receipts\*


nadc\docs\campaign_finance\contributions\*
nadc\docs\campaign_finance\payees\*
nadc\docs\campaign_finance\payors\*
nadc\docs\campaign_finance\receipts\*

nadc/docs/campaign_finance/contributions/*
nadc/docs/campaign_finance/payees/*
nadc/docs/campaign_finance/payors/*
nadc/docs/campaign_finance/receipts/*

/nadc/docs/campaign_finance/contributions/*
/nadc/docs/campaign_finance/payees/*
/nadc/docs/campaign_finance/payors/*
/nadc/docs/campaign_finance/receipts/*

/ppp/*
/csv_files/*
# nadc/campaign_finance/contributions/*
# nadc/campaign_finance/payees/*
# nadc/campaign_finance/payors/*