venv/

nadc/site/*
ppp/files/*
nadc/docs/expenditures/*
nadc/docs/receipts/*
__pycache__/*


/ppp/*
/csv_files/*
# nadc/campaign_finance/contributions/*
# nadc/campaign_finance/payees/*
# nadc/campaign_finance/payors/*